* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.nav {
    text-align:center;    
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
}

.nav li {
    display:inline;
}

.nav li a {
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.course-wrapper {
    padding: 5%;
}

.course-wrapper hr {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.course-wrapper li {
    padding-top: 1%;
}
.course-wrapper .michigan {
    text-align: center;
    width: 50%;
    float: left;
}

.course-wrapper .michigan .courses {
    text-align: left;
    padding-left: 15%;
}

.course-wrapper .andover {
    text-align: center;
    width:50%;
    float: right;
}

.course-wrapper .andover .courses {
    text-align: left;
    padding-left: 15%;
}

#michigan-header:hover .maize {
    color: #ffcb05;
}

#michigan-header:hover .blue {
    color: #00274c;
}

#michigan-header:hover {
    cursor: pointer;
    transform:scale(1.4);
}
