* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.nav {
    text-align:center;    
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
}

.nav li {
    display:inline;
}

.nav li a {
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.wrapper {
    padding: 5%;
}

.wrapper hr {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.wrapper .professional {
    text-align: center;
    width: 50%;
    float: left;
}

.wrapper .extracurriculars {
    text-align: center;
    width: 50%;
    float: left;
}

.wrapper .list {
    text-align: left;
    padding-left: 8%;
}

.wrapper .list p {
    padding-top: 0.7%;
}

.wrapper a {
    text-decoration: none;
    color: black; 

}

a:visited { 
    text-decoration: none; 
    color: black; 
}


#fidelity a:hover {
    color: #76A923;
}

#desc {
    font-size: 11pt;
}

#date {
    font-size: 10pt;
}

#maxwell a:hover {
    color: #59B9D8;
}

.extracurriculars .list #positions {
    font-size: 13pt;
}
.extracurriculars .list li {
    padding-top: 1%;
    font-size: 11pt;

}
#extracurricular-desc p {
    font-size: 11pt;
    padding-left: 1%;
    padding-bottom: 1%;
}

img {
    
}