* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(img/squampic.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow:"hidden";
}

#background img {
    width: 100%;
}

/*

.intro-wrapper img {
    border: 8px solid #fff;
    margin-right: 30px;
    float: left;
}

.intro-wrapper {
    background: rgba(255, 255, 255, 0.7);;
    overflow: hidden;
    padding: 3%;
}

.intro-wrapper .bio {
    float: left;
}
*/

.nav {
    text-align:center;    
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
}

.nav li {
    display:inline;
}

.nav li a {
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}