* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}

.wrapper {
    padding: 5%;
}

.head {
    font-size: 30pt;
    font-weight: 300;
}

.akpsite {
    overflow: hidden;
}

.akpsite .left {
    width: 30%;
    float: left;
    padding-left: 3%;
    padding-top: 3%;
}

.akpsite .right {
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 6%;
    width: 70%;
    float: right;
}

.akpsiapp {
    overflow: hidden;
}

.akpsiapp .left {
    width: 30%;
    float: left;
    padding-left: 3%;
    padding-top: 3%;
}

.akpsiapp .right {
    padding-left: 3%;
    padding-top: 2.5%;
    padding-right: 6%;
    width: 70%;
    float: right;
}

.personalsite {
    overflow: hidden;
}

.personalsite .left {
    width: 30%;
    float: left;
    padding-left: 3%;
    padding-top: 3%;
}

.personalsite .right {
    padding-left: 3%;
    padding-top: 2.5%;
    padding-right: 6%;
    width: 70%;
    float: right;
}

p {
    padding-top: 2%;
    font-weight: 300;
}

.wrapper a {
    text-decoration: none;
    font-size: 24pt;
    font-weight: 300;
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: #268eb7;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#documentation {
    color: #268eb7;
    text-decoration: underline;
    font-size: 12pt;
}

.wrapper img {
    width: 80%;
}

@media only screen and (max-width: 850px) {
    .head {
        font-size: 24pt;
        padding-top: 8%;
    }
    .akpsite {
        padding-top: 3%;
    }
    .akpsite .left {
        width: 100%;
        display: block;
    }

    .akpsite .right {
        width: 100%;
        display: block;
    }

    .akpsite .left img {
        padding: auto;
        margin:auto;
        display: block;
    }

    .akpsiapp {
        padding-top: 8%;
    }
    .akpsiapp .left {
        width: 100%;
        display: block;
    }

    .akpsiapp .right {
        width: 100%;
        display: block;
    }

    .akpsiapp .left img {
        padding: auto;
        margin:auto;
        display: block;
    }

    .personalsite {
        padding-top: 8%;
    }
    .personalsite .left {
        width: 100%;
        display: block;
    }

    .personalsite .right {
        width: 100%;
        display: block;
    }

    .personalsite .left img {
        padding: auto;
        margin:auto;
        display: block;
    }
}
